body {
	background-color: #fff;
	color: #222;
	font: 16px/1.5 sans-serif;
	margin: 0;
}
header {
	background-color: #222;
	color: #fff;
}
header h1 {
	background-color: #00489c;
	margin: 0;
	padding: 0 1em;
}
header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav a {
	display: block;
	padding: 0.5em 1.5em 1.5em 0.5em;
	color: white;
	text-decoration: none;
}
header nav a:active {
	background-color: #fff;
	color: #00489c;
}
main img {
	width: 100%;
	box-shadow: 0px 0px 3px 0px rgba(34,34,34,1);
	border-radius: 10px;
}
main {
	padding: 0 1em;
}
button {
	background-color: #00489c;
	color: #fff;
	border: 1px outset #00489c;
	font-size: 1em;
	padding:  .3em .7em;
	margin-right: 0.5em;
}
.pricing {
	font-size: .9em;
	font-weight: bold;
}
.pricing s {
	color: #c00;
}
footer {
	background-color: #222;
	color: white;
}
.cfbefore, .cfafter,
 footer:before, footer:after {
 	content: "";
 	display: table;
 }
.cfafter,
footer:after {
	clear: both;
}
/* Coding for phones and small devices ends here */
/* Nav becomes horizontal at a certain screen width */

@media all and (min-width: 768px){

    nav li{
        display: inline-block;
    }

    main > p:first-child {
        width: 50%;
        float: left;
        margin-right: 1em;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .hot-product p:first-child{
        width: 50%;
        float: left;
        margin-right: 1em;
        margin-top: 0px;
    }
    .hot-product{
        clear: both;
    }

    footer{
        clear: both;
    }

}


@media all and (min-width: 790px){

    header h1{
        float: left;
    }

    header nav{
        height: 48px;
    }

    header nav a{
        line-height: 48px;
        padding: 0 1em;
    }

    .hot-product{
        width: 31%;
        float: left;
        clear: none;
        margin: 0 1%;
    }

    .hot-product p:first-child{
        width: 100%;
        float: left;
    }

    #hot-this-week-cameras{
        clear: both;
    }

    main:after{
        content: " ";
        display: block;
        clear: both;
    }

    main{
        background-color: #aaa;
    }

}

@media all and (min-width: 1260px){

    header, main, footer {
        margin: 0 auto;
        width: 1200px;
    }

}